*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


tr[class="read"]{
    background-image: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 82%, rgba(237, 221, 83, 1) 100%);
}

tr[class="in-progress"]{
    background-image: linear-gradient(90deg,rgba(217, 89, 89, 1) 0%, rgba(184, 87, 199, 1) 28%, rgba(96, 179, 165, 1) 100%);
}

tr[class="to-read"]{
    background-image: linear-gradient(90deg,rgba(46, 45, 45) 0%, rgba(255, 255, 255, 1) 35%, rgba(214, 214, 214, 1) 100%);
}

span{
    display: inline-block;
}

tr[class="to-read"] span[class="status"]{
    background-image: linear-gradient(90deg,rgb(46, 45, 45) 0%, rgba(255, 255, 255, 1) 35%, rgba(214, 214, 214, 1) 100%);
    border: 1px solid black;
    width: 50%;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 10%;
    color: black
}

tr[class="in-progress"] span[class="status"]{
    background-image: linear-gradient(90deg,rgba(217, 89, 89, 1) 0%, rgba(184, 87, 199, 1) 28%, rgba(96, 179, 165, 1) 100%);
    border: 1px solid black;
    width: 50%;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 10%;
}

tr[class="read"] span[class="status"]{
    background-image: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 82%, rgba(237, 221, 83, 1) 100%);
    border: 1px solid black;
     width: 50%;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding: 10%;
}

span[class="status"], span[class^="rate"]{
    height: 2em;
    width: 100%;
    padding: 1em;
    display: flex;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}


span[class^="rate"] > span{
    border: 1px solid black;
    border-radius: 100%;
    height: 10px;
    width: 10px;
    background-color: black;
}

span[class~="one"] span:first-child{
    background-image: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 82%, rgba(237, 221, 83, 1) 100%);
}

span[class~="two"] span:nth-child(-n+2){ /* nth-child(-n+2) -> First two elements */
    background-image: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 82%, rgba(237, 221, 83, 1) 100%);
}

span[class~="three"] span{ 
    background-image: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 82%, rgba(237, 221, 83, 1) 100%);
}

table{
    width: 100%;
    background-color: black;
    color: white
}

table, tr, td{
    border: 2px solid black;
}

td{
    padding: 10px;
}

tr[class="to-read"]{
    color: black
}




