*{
    margin: 0;
    padding: 0;
}

html, body{
    background-color: peachpuff;
}


#playing-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 10vh;
}

.card{
    display: flex;
    background-color: white;
    width: 15vw;
    height: 45vh;
    justify-content: space-between;
    padding: 2px 10px 2px 10px;
    font-size: 2rem;
    border-radius: 8px;
    border: 0.5px solid black;
    box-shadow: 1px 3px 3px 1px rgba(66, 66, 66, 0.8);
}


.left{
    align-self: flex-start;
}

.middle{
    display: flex;
    align-self: center;
    flex-direction: column;
}

.right{
    align-self: flex-end;
}